body{
    grid-template-areas: 
        'header header'
        'left content';
}

.content{
    grid-area: content;
    text-align: center;
}

.text{
    display: inline-block;
    text-align: left;
}

.right{
    text-align: center;
    grid-area: right;
}

/* #code-content{
    font-size: ;
} */